* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;

}

/* PARTE ESQUERDA DO SITE COM A IMAGEM */

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img {
    max-width: 500px;
    height: auto;
}

/*PARTE DIREITA COM OS FORMULÁRIOS*/


.rightside {
    width: 400px;
    background: #DDD;
    padding: 50px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 5px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}